<div class="pattern-center-blank">
</div>
<div class="pattern-center ">
  <div class="pattern-attachment-img">
    <img src="<%= post.photos[0]%>" src="<%- theme.lazyloadImg%>" data-src="<%= post.photos[0]%>" class="lazyload" onerror="imgError(this,3)" style="width: 100%; height: 100%; object-fit: cover; pointer-events: none;">
  </div>
  <header class="pattern-header ">
    <h1 class="entry-title">
    友人帐</h1>
  </header>
</div>
<div id="content" class="site-content">
  <article class="post-item post-301 page type-page status-publish has-post-thumbnail hentry">
    <p>
    欢迎交换友链 ꉂ(ˊᗜˋ)</p>
    <p>
      请留言告诉我你的：<br>
      1、名字<br>
      2、一句话介绍（熟人我会亲自帮写的）<br>
      3、主页地址<br>
    4、头像（HTTPS*，可在评论区上传）</p>
    <p>
      For Example：<br>
      ★ Name: Mashiro<br>
      ★ Bio: 樱花庄的白猫<br>
      ★ URL: https://2heng.xin<br>
      ★ Avatar: <a href="https://view.moezx.cc/image/6vRT" target="_blank" rel="nofollow">
      获取嵌入代码</a>
    </p>
    <p style="font-size: 13px">
    ※ 为保证友链质量，今后新申请的友链将经过筛选，请在收到我的回复邮件后再于贵站添加本站链接。原则上过去已添加友链不会轻易删除，如遇死链、改变网站用途（友链主要针对的是同类的博客），将单独移至“阵亡将士”分类中，下次清理时未整改的将移除；如遇盗版、破解、网页植入挖矿脚本、极低质量内容、单方面移除本站链接，将直接移除，恕不另行通知。</p>
    <div class="links">
      <h3 class="link-title" id="toc-head-1" tabindex="-1">
      <span class="fake-title">
      1. 个人项目</span>
      </h3>
      <div class="link-description">
      充分说明这家伙是条咸鱼 &lt; (￣︶￣)&gt;</div>
      <ul class="link-items fontSmooth">
        <li class="link-item">
          <a class="link-item-inner effect-apollo" href="https://shino.cc/fgvf" title="Google 镜像" target="_blank" rel="friend">
            <img class="lazyload" onerror="imgError(this,1)" src="<%- theme.lazyloadImg%>" data-src="https://cloud.moezx.cc/Picture/svg/landscape/fields.svg" src="https://cloud.moezx.cc/Picture/svg/landscape/fields.svg">
            <span class="sitename">
            Google</span>
            <div class="linkdes">
            Google 镜像</div>
          </a>
        </li>
        <li class="link-item">
          <a class="link-item-inner effect-apollo" href="https://t.shino.cc" title="Telegram 镜像" target="_blank" rel="friend">
            <img class="lazyload" onerror="imgError(this,1)" src="<%- theme.lazyloadImg%>" data-src="https://cloud.moezx.cc/Picture/svg/landscape/mill.svg" src="https://cloud.moezx.cc/Picture/svg/landscape/mill.svg">
            <span class="sitename">
            Telegram</span>
            <div class="linkdes">
            Telegram 镜像</div>
          </a>
        </li>
        <li class="link-item">
          <a class="link-item-inner effect-apollo" href="https://shino.cc/ksdf" title="中文维基镜像" target="_blank" rel="friend">
            <img class="lazyload" onerror="imgError(this,1)" src="<%- theme.lazyloadImg%>" data-src="https://cloud.moezx.cc/Picture/svg/landscape/desert-1.svg" src="https://cloud.moezx.cc/Picture/svg/landscape/desert-1.svg">
            <span class="sitename">
            Wikipedia</span>
            <div class="linkdes">
            中文维基镜像</div>
          </a>
        </li>
        <li class="link-item">
          <a class="link-item-inner effect-apollo" href="https://2heng.xin/lovelive/" title="LoveLive 日服档线预测" target="_blank" rel="friend">
            <img class="lazyload" onerror="imgError(this,1)" src="<%- theme.lazyloadImg%>" data-src="https://view.moezx.cc/images/2018/01/27/a_46895067_26.th.jpg" src="https://view.moezx.cc/images/2018/01/27/a_46895067_26.th.jpg">
            <span class="sitename">
            ラブライブ</span>
            <div class="linkdes">
            LoveLive 日服档线预测</div>
          </a>
        </li>
        <li class="link-item">
          <a class="link-item-inner effect-apollo" href="https://deemo.shino.cc/" title="Deemo 歌曲封面集" target="_blank" rel="friend">
            <img class="lazyload" onerror="imgError(this,1)" src="<%- theme.lazyloadImg%>" data-src="https://view.moezx.cc/images/2018/04/06/Deemo43628805_by_T..jpg" src="https://view.moezx.cc/images/2018/04/06/Deemo43628805_by_T..jpg">
            <span class="sitename">
            古树旋律复刻</span>
            <div class="linkdes">
            Deemo 歌曲封面集</div>
          </a>
        </li>
        <li class="link-item">
          <a class="link-item-inner effect-apollo" href="https://mashiro.top/" title="Notes~" target="_blank" rel="friend">
            <img class="lazyload" onerror="imgError(this,1)" src="<%- theme.lazyloadImg%>" data-src="https://view.moezx.cc/images/2018/01/15/QPID61105583by.md.png" src="https://view.moezx.cc/images/2018/01/15/QPID61105583by.md.png">
            <span class="sitename">
            小本本</span>
            <div class="linkdes">
            Notes~</div>
          </a>
        </li>
      </ul>
      <h3 class="link-title" id="toc-head-2" tabindex="-1">
      <span class="fake-title">
      2. 私人服务</span>
      </h3>
      <div class="link-description">
      稳定性？不存在的 ∠( ᐛ 」∠)＿</div>
      <ul class="link-items fontSmooth">
        <li class="link-item">
          <a class="link-item-inner effect-apollo" href="https://www.moezx.cc/" title="CNAME免费接入" target="_blank" rel="friend">
            <img class="lazyload" onerror="imgError(this,1)" src="<%- theme.lazyloadImg%>" data-src="https://cloud.moezx.cc/Picture/svg/landscape2/sea.svg" src="https://cloud.moezx.cc/Picture/svg/landscape2/sea.svg">
            <span class="sitename">
            Cloudflare CDN</span>
            <div class="linkdes">
            CNAME免费接入</div>
          </a>
        </li>
        <li class="link-item">
          <a class="link-item-inner effect-apollo" href="https://io.shino.cc/" title="远程桌面 2333" target="_blank" rel="friend">
            <img class="lazyload" onerror="imgError(this,1)" src="<%- theme.lazyloadImg%>" data-src="https://cloud.moezx.cc/Picture/svg/landscape/iceberg.svg" src="https://cloud.moezx.cc/Picture/svg/landscape/iceberg.svg">
            <span class="sitename">
            CloudOS</span>
            <div class="linkdes">
            远程桌面 2333</div>
          </a>
        </li>
        <li class="link-item">
          <a class="link-item-inner effect-apollo" href="https://music.shino.cc/" title="各大平台音乐解析" target="_blank" rel="friend">
            <img class="lazyload" onerror="imgError(this,1)" src="<%- theme.lazyloadImg%>" data-src="https://cloud.moezx.cc/Picture/svg/landscape2/reindeer.svg" src="https://cloud.moezx.cc/Picture/svg/landscape2/reindeer.svg">
            <span class="sitename">
            Music Box</span>
            <div class="linkdes">
            各大平台音乐解析</div>
          </a>
        </li>
        <li class="link-item">
          <a class="link-item-inner effect-apollo" href="https://view.moezx.cc/" title="一个简单的图床" target="_blank" rel="friend">
            <img class="lazyload" onerror="imgError(this,1)" src="<%- theme.lazyloadImg%>" data-src="https://cloud.moezx.cc/Picture/svg/landscape/beach.svg" src="https://cloud.moezx.cc/Picture/svg/landscape/beach.svg">
            <span class="sitename">
            Room 202</span>
            <div class="linkdes">
            一个简单的图床</div>
          </a>
        </li>
        <li class="link-item">
          <a class="link-item-inner effect-apollo" href="https://pan.2heng.xin" title="自建网盘" target="_blank" rel="friend">
            <img class="lazyload" onerror="imgError(this,1)" src="<%- theme.lazyloadImg%>" data-src="https://cloud.moezx.cc/Picture/svg/landscape/desert.svg" src="https://cloud.moezx.cc/Picture/svg/landscape/desert.svg">
            <span class="sitename">
            Sakura Drive</span>
            <div class="linkdes">
            自建网盘</div>
          </a>
        </li>
        <li class="link-item">
          <a class="link-item-inner effect-apollo" href="https://re.shino.cc/d/UbkNywRma/home?refresh=30s&amp;orgId=2" title="Grafana &amp; Zabbix" target="_blank" rel="friend">
            <img class="lazyload" onerror="imgError(this,1)" src="<%- theme.lazyloadImg%>" data-src="https://cloud.moezx.cc/Picture/svg/landscape2/lake-1.svg" src="https://cloud.moezx.cc/Picture/svg/landscape2/lake-1.svg">
            <span class="sitename">
            服务器监控</span>
            <div class="linkdes">
            Grafana &amp; Zabbix</div>
          </a>
        </li>
      </ul>
      <h3 class="link-title" id="toc-head-3" tabindex="-1">
      <span class="fake-title">
      3. 后宫佳丽</span>
      </h3>
      <div class="link-description">
      BOY♂NEXT♂DOOR</div>
      <ul class="link-items fontSmooth">
        <li class="link-item">
          <a class="link-item-inner effect-apollo" href="https://ia.jifangcheng.com" title="What Makes Me, Me" target="_blank" rel="friend">
            <img class="lazyload" onerror="imgError(this,1)" src="<%- theme.lazyloadImg%>" data-src="https://view.moezx.cc/images/2018/03/07/9134003s88v4.png" src="https://view.moezx.cc/images/2018/03/07/9134003s88v4.png">
            <span class="sitename">
            @iawia002</span>
            <div class="linkdes">
            What Makes Me, Me</div>
          </a>
        </li>
        <li class="link-item">
          <a class="link-item-inner effect-apollo" href="https://lovesnowbest.site/" title="愿你成为自己想成为的人" target="_blank" rel="friend">
            <img class="lazyload" onerror="imgError(this,1)" src="<%- theme.lazyloadImg%>" data-src="https://view.moezx.cc/images/2018/02/01/favicon.jpg" src="https://view.moezx.cc/images/2018/02/01/favicon.jpg">
            <span class="sitename">
            loveSnowBest</span>
            <div class="linkdes">
            愿你成为自己想成为的人</div>
          </a>
        </li>
        <li class="link-item">
          <a class="link-item-inner effect-apollo" href="https://eriri.ink" title="Life is what you make it." target="_blank" rel="friend">
            <img class="lazyload" onerror="imgError(this,1)" src="<%- theme.lazyloadImg%>" data-src="https://secure.gravatar.com/avatar/86a41c9425019d1651a6717021a8ca83" src="https://secure.gravatar.com/avatar/86a41c9425019d1651a6717021a8ca83">
            <span class="sitename">
            Siphils</span>
            <div class="linkdes">
            Life is what you make it.</div>
          </a>
        </li>
        <li class="link-item">
          <a class="link-item-inner effect-apollo" href="https://chanshiyu.com/" title="蝉鸣如雨 花宵道中" target="_blank" rel="friend">
            <img class="lazyload" onerror="imgError(this,1)" src="<%- theme.lazyloadImg%>" data-src="https://view.moezx.cc/images/2018/01/05/2af1a90f-4b60-4abd-a7b3-a64a903aa921.png" src="https://view.moezx.cc/images/2018/01/05/2af1a90f-4b60-4abd-a7b3-a64a903aa921.png">
            <span class="sitename">
            蝉時雨</span>
            <div class="linkdes">
            蝉鸣如雨 花宵道中</div>
          </a>
        </li>
      </ul>
    </div>
  </article>
  <div class="have-toc">
  </div>
  <div class="toc-container" style="height: 4886.5px;">
    <div class="toc">
      <ol class="toc-list ">
        <li class="toc-list-item">
          <a href="#toc-head-1" class="toc-link node-name--H3  is-active-link">
          1. 个人项目</a>
        </li>
        <li class="toc-list-item">
          <a href="#toc-head-2" class="toc-link node-name--H3 ">
          2. 私人服务</a>
        </li>
        <li class="toc-list-item">
          <a href="#toc-head-3" class="toc-link node-name--H3 ">
          3. 后宫佳丽</a>
        </li>
        <li class="toc-list-item">
          <a href="#toc-head-4" class="toc-link node-name--H3 ">
          4. 小伙伴们</a>
        </li>
        <li class="toc-list-item">
          <a href="#toc-head-5" class="toc-link node-name--H3 ">
          5. 阵亡将士</a>
        </li>
        <li class="toc-list-item">
          <a href="#toc-head-6" class="toc-link node-name--H3 ">
          6. 大佬博客</a>
        </li>
        <li class="toc-list-item">
          <a href="#toc-head-7" class="toc-link node-name--H3 ">
          7. 特别链接</a>
        </li>
      </ol>
    </div>
  </div>
</div>