<%
  var img = page.tag + '.img';
  //var zh = page.tag + '.zh';
  //var en = page.tag + '.en';
%>
<div class="pattern-center-blank"></div>
<div class="pattern-center ">
  <div class="pattern-attachment-img">
    <img <% if(__(img)){%>src="<%- theme.lazyloadImg%>" data-src="<%= __(img)%>"<%} else {%>src="<%- theme.lazyloadImg%>" data-src="https://view.moezx.cc/images/2017/12/03/writing.jpg"<%} %> class="lazyload" onerror="imgError(this,3)" style="width: 100%; height: 100%; object-fit: cover; pointer-events: none;">
  </div>
  <header class="pattern-header ">
    <h1 class="cat-title"><%= __(page.tag) %></h1>
  </header>
</div>
<div id="content" class="site-content">
  <div id="primary" class="content-area">
    <main id="main" class="site-main" role="main">
      <%- partial('_partial/category-archive', {pagination: 2, index: true}) %>
      <div class="clearer">
      </div>
    </main>
    <!-- <% if (page.total > 1){ %>
      <nav class="navigator">
        <% var prev_text = __('prev');var next_text = __('next');%>
        <%- paginator({
          prev_text: prev_text,
          next_text: next_text
        }) %>
      </nav>
    <% } %> -->
    <% if (page.total > 1 && page.next_link){ %>
      <div id="pagination"><a href="<%- url_for(page.next_link) %>" class="">Previous</a></div>
    <% } %>
  </div>
</div>