<div id="page" class="site wrapper">
  <header class="site-header no-select is-homepage gizle sabit" role="banner">
    <div class="site-top">
      <div class="site-branding">
        <span class="site-title">
          <span class="logolink moe-mashiro">
            <a href="<%- url_for() %>" alt="<%= config.title %>">
              <span class="sakurasono">
              さくら荘その</span>
              <span class="shironeko">
              <%= config.title %></span>
            </a>
          </span>
        </span>
      </div>
      <div class="searchbox search-form-submit">
        <i class="iconfont js-toggle-search iconsearch icon-search">
        </i>
      </div>
      <div id="show-nav" class="showNav mobile-fit">
        <div class="line line1">
        </div>
        <div class="line line2">
        </div>
        <div class="line line3">
        </div>
      </div>
      <div class="lower-cantiner">
        <div class="lower">
          <nav class="mobile-fit-control hide">
            <ul id="menu-new" class="menu">
              <% for (var i in theme.menu){ %>
                <li>
                  <a href="<%- url_for(trim(theme.menu[i].split('||')[0])) %>">
                    <span class="faa-parent animated-hover">
                      <i class="fa <%= trim(theme.menu[i].split('||')[1]) %> <%= trim(theme.menu[i].split('||')[2]) %>" aria-hidden="true">
                      </i><%= i %>
                    </span>
                  </a>
                </li>
              <% } %>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </header>
