<div id="page" class="site wrapper">
  <header class="site-header no-select is-homepage gizle sabit" role="banner">
    <div class="site-top">
      <div class="site-branding">
        <span class="site-title">
          <span class="logolink moe-mashiro">
            <a href="<%- url_for() %>" alt="<%= config.title %>">
              <span class="sakurasono">
              さくら荘その</span>
              <span class="shironeko">
              白猫</span>
            </a>
          </span>
        </span>
      </div>
      <div class="lower-cantiner">
        <div class="lower">
          <div id="show-nav" class="showNav mobile-fit">
            <div class="line line1">
            </div>
            <div class="line line2">
            </div>
            <div class="line line3">
            </div>
          </div>
          <nav class="mobile-fit-control hide">
            <ul id="menu-new" class="menu">
              <% for (var i in theme.menu){ %>
                <li class="current-menu-item">
                  <a href="<%- url_for(trim(theme.menu[i].split('||')[0])) %>">
                    <span class="faa-parent animated-hover">
                      <i class="fa <%= trim(theme.menu[i].split('||')[1]) %> <%= trim(theme.menu[i].split('||')[2]) %>" aria-hidden="true">
                      </i><%= i %>
                    </span>
                  </a>
                </li>
              <% } %>
              <!-- <li>
                <a href="/time-series/">
                  <span class="faa-parent animated-hover">
                    <i class="fa fa-archive faa-shake" aria-hidden="true">
                    </i>
                  归档</span>
                </a>
                <ul class="sub-menu">
                  <li>
                    <a href="https://2heng.xin/archives/hacking/">
                      <i class="fa fa-terminal" aria-hidden="true">
                      </i>
                    极客</a>
                  </li>
                  <li>
                    <a href="https://2heng.xin/archives/article/">
                      <i class="fa fa-file-text-o" aria-hidden="true">
                      </i>
                    文章</a>
                  </li>
                  <li>
                    <a href="https://2heng.xin/archives/review/">
                      <i class="fa fa-quote-right" aria-hidden="true">
                      </i>
                    影评</a>
                  </li>
                  <li>
                    <a href="https://2heng.xin/archives/thingking/">
                      <i class="fa fa-commenting-o" aria-hidden="true">
                      </i>
                    随想</a>
                  </li>
                  <li>
                    <a target="_blank" href="https://mashiro.top/">
                      <i class="fa fa-book" aria-hidden="true">
                      </i>
                    笔记</a>
                  </li>
                </ul>
              </li> -->
            </ul>
          </nav>
        </div>
      </div>
      <div class="header-user-avatar">
        <a href="https://2heng.xin/wp-login.php">
          <img class="faa-shake animated-hover" src="https://cdn.jsdelivr.net/gh/moezx/cdn@3.1.9/img/Sakura/images/none.png" width="30" height="30">
        </a>
        <div class="header-user-menu">
          <div class="herder-user-name no-logged">
            Whether to <a href="https://2heng.xin/login/" target="_blank" style="color:#333;font-weight:bold;text-decoration:none">
            log in</a>
          now?</div>
        </div>
      </div>
      <div class="searchbox">
        <i class="iconfont js-toggle-search iconsearch icon-search">
        </i>
      </div>
    </div>
  </header>
