<div id="mo-nav" class="">
  <div class="m-avatar">
    <img src="https://static.mashiro.top/avatar.jpg">
  </div>
  <p style="text-align: center; color: #333; font-weight: 900; font-family: 'Ubuntu', sans-serif; letter-spacing: 1.5px">
  Mashiro Sama...</p>
  <p style="text-align: center; word-spacing: 20px;">
    <a href="http://twitter.com/2hengxin" class="fa fa-twitter" target="_blank" style="color: #00aced">
    </a>
    <a href="http://weibo.com/2960337711" class="fa fa-weibo" target="_blank" style="color: #dd4b39">
    </a>
    <a href="http://github.com/mashirozx" class="fa fa-github" target="_blank" style="color: #333">
    </a>
    <a onclick="mail_me()" class="fa fa-envelope" style="color: #ffbf00">
    </a>
  </p>
  <ul id="menu-new-1" class="menu">
    <% for (var menu in theme.menus){ %>
      <li>
        <a href="<%- url_for(theme.menus[menu].path) %>">
          <span class="faa-parent animated-hover">
            <i class="fa  <%= theme.menus[menu].fa %>" aria-hidden="true"></i>
            <%= menu %>
          </span>
        </a>
        <% if (theme.menus[menu].submenus) { %>
          <ul class="sub-menu">
            <% for (var submenu in theme.menus[menu].submenus){ %>
              <li>
                <a href="<%- url_for(theme.menus[menu].submenus[submenu].path) %>">
                  <i class="fa <%= theme.menus[menu].submenus[submenu].fa %>" aria-hidden="true"></i>
                  <%= submenu %>
                </a>
              </li>
            <% } %>
          </ul>
        <% } %>
      </li>
    <% } %>
  </ul>
  <p style="text-align: center; font-size: 13px; color: #b9b9b9;">
  © 2018 樱花庄的白猫</p>
</div>