  <div class="pattern-center-blank"></div>
  <% if (post.photos && post.photos.length){ %>
    <div class="pattern-center ">
      <div class="pattern-attachment-img">
        <img data-src="<%= post.photos %>" class="lazyload" onerror="imgError(this,3)" style="width: 100%; height: 100%; object-fit: cover; pointer-events: none;">
      </div>
      <header class="pattern-header ">
        <h1 class="entry-title">
        <%= post.keywords %></h1>
      </header>
    </div>
  <% } %>
  <div id="content" class="site-content">
    <article class="post-item post-301 page type-page status-publish has-post-thumbnail hentry">
      <%- post.content %>
      <!-- .entry-content -->
      <% if (config.valine && post.comments) { %>
      <script src="//cdn1.lncld.net/static/js/3.0.4/av-min.js"></script>
      <script src='//unpkg.com/valine/dist/Valine.min.js'></script>
      <div id="vcomments"></div>
      <script>
        new Valine({
          el: '#vcomments',
          appId: "<%=config.v_appId %>",
          appKey: "<%=config.v_appKey %>",
          placeholder: "你是我一生只会遇见一次的惊喜 ..."
        })
      </script>
      <% } %>
      <footer class="post-footer">
        <div class="post-lincenses"><a href="https://creativecommons.org/licenses/by-nc-sa/4.0/deed.zh" target="_blank" rel="nofollow"><i class="fa fa-creative-commons" aria-hidden="true"></i> 知识共享署名-非商业性使用-相同方式共享 4.0 国际许可协议</a></div>
        <div class="post-tags">
        </div>
        
        <div class="post-like">
          <a href="javascript:;" data-action="ding" data-id="1" class="specsZan ">
            <i class="iconfont icon-like"></i> <span class="count">
            0</span>
          </a>
        </div>
        
        <div class="post-share">
          <ul class="sharehidden">
            <li><a href="http://www.jiathis.com/send/?webid=weixin&amp;url=http://127.0.0.1/wordpress/?p=1&amp;title=世界，您好！" onclick="window.open(this.href, 'renren-share', 'width=490,height=700');return false;" class="s-weixin"><img src="https://cdn.jsdelivr.net/gh/moezx/cdn@3.3.1/img/Sakura/images/sns/wechat.png"></a></li>
            <li><a href="http://www.jiathis.com/send/?webid=qzone&amp;url=http://127.0.0.1/wordpress/?p=1&amp;title=世界，您好！" onclick="window.open(this.href, 'weibo-share', 'width=730,height=500');return false;" class="s-qq"><img src="https://cdn.jsdelivr.net/gh/moezx/cdn@3.3.1/img/Sakura/images/sns/qzone.png"></a></li>
            <li><a href="http://www.jiathis.com/send/?webid=tsina&amp;url=http://127.0.0.1/wordpress/?p=1&amp;title=世界，您好！" onclick="window.open(this.href, 'weibo-share', 'width=550,height=235');return false;" class="s-sina"><img src="https://cdn.jsdelivr.net/gh/moezx/cdn@3.3.1/img/Sakura/images/sns/sina.png"></a></li>
            <li><a href="http://www.jiathis.com/send/?webid=douban&amp;url=http://127.0.0.1/wordpress/?p=1&amp;title=世界，您好！" onclick="window.open(this.href, 'renren-share', 'width=490,height=600');return false;" class="s-douban"><img src="https://cdn.jsdelivr.net/gh/moezx/cdn@3.3.1/img/Sakura/images/sns/douban.png"></a></li>
          </ul>
          <i class="iconfont show-share icon-forward"></i>
        </div>
      </footer><!-- .entry-footer -->
      </article>
      <!-- #post-## -->
      <div class="toc-container" style="height: 1053px;">
      <div class="toc" style="background: none;"></div>
      </div>
      <section class="post-squares nextprev">
        <% if (post.prev){ %>
          <div class="post-nepre half previous">
            <a href="<%- url_for(post.prev.path) %>" rel="prev">
              <div class="background">
                <img class="lazyload" data-src="https://static.2heng.xin/wp-content/uploads//2018/04/IMG_20180403_23032701-1024x606.jpg" style="width: 100%; height: 100%; object-fit: cover; pointer-events: none;" onerror="imgError(this,3)" src="https://static.2heng.xin/wp-content/uploads//2018/04/IMG_20180403_23032701-1024x606.jpg">
              </div>
              <span class="label">
              Previous Post</span>
              <div class="info">
                <h3>
                <%= post.prev.title%></h3>
                <hr>
              </div>
            </a>
          </div>
        <% } %>
        <% if (post.next){ %>
          <div class="post-nepre half next">
            <a href="<%- url_for(post.next.path) %>" rel="next">
              <div class="background">
                <img class="lazyload" data-src="https://static.2heng.xin/wp-content/uploads//2018/04/发糖啦-1.png" style="width: 100%; height: 100%; object-fit: cover; pointer-events: none;" onerror="imgError(this,3)" src="https://static.2heng.xin/wp-content/uploads//2018/04/发糖啦-1.png">
              </div>
              <span class="label">
              Next Post</span>
              <div class="info">
                <h3>
                <%= post.next.title%></h3>
                <hr>
              </div>
            </a>
          </div>
        <% } %>
      </section>
      <section class="author-profile">
        <div class="info" itemprop="author" itemscope="" itemtype="http://schema.org/Person">
          <a href="http://127.0.0.1/wordpress/?author=1" class="profile gravatar"><img src="<%- theme.avatar%>" itemprop="image" alt="hojun" height="70" width="70"></a>
          <div class="meta">
            <span class="title">Author</span>
            <h3 itemprop="name">
            <a href="<%- theme.url%>" itemprop="url" rel="author">hojun</a>
            </h3>
          </div>
        </div>
        <hr>
        <p><i class="iconfont icon-write"></i><%- theme.description%></p>
      </section>
    </main><!-- #main -->
  </div><!-- #primary -->
</div>